# <center> <u>Data Structures <u> </center>

## 1. Lists

Reference:- https://www.youtube.com/watch?v=ohCDWZgNIU0

<p style='text-align: right;'> 1+1+1 = 3 points</p>

#### 1.1 Create an empty list with the name ‘a’, print the value of a and type(a).

In [ ]:
# create empty list, name it 'a'

a = []

In [ ]:
# print the value of a

a

[]

In [ ]:
# print the type of a
type(a)

list

#### 1.2.Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

<p style='text-align: right;'> 1+1+1+1+1+1+1+1 = 7 points</p>

In [ ]:
#code here
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [ ]:
#code here
print(len(languages))

5


Using for loop iterate and print all the elements in the list

In [ ]:
#code here

for item in languages:
  print(item)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [ ]:
#code here
temp = languages[1]

Print the value of temp and type(temp)

In [ ]:
#code here
print(temp)
type(temp)

Python

str

Using list comprehension, print the last two elemets of list

In [ ]:
# code here
languages[-2::]

['Scala', 42]

Append the element 'Java' in the list

In [ ]:
#code here
languages.append("Java")

Remove the element 42 from the list and print the list

In [ ]:
#code here
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

#### 1.3. Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

<p style='text-align: right;'> 1+1+1+1+1+1+1 = 6 points</p>

In [ ]:
#code here
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [ ]:
#code here
colors.insert(1,'Orange')
print(colors)

['Red', 'Orange', 'Blue', 'White']

Append the color 'Orange' to second position (index=1) and print the list

In [ ]:
# code here
colors.append('Black')

Print the list

In [ ]:
# code here
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [ ]:
# code 
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [ ]:
#code here
colors.extend(colors2)

Print len of colors and its elements

In [ ]:
# code here
print(len(colors))
print(colors)

7
['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [ ]:
# code here
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

#### 1.4. Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

<p style='text-align: right;'> 7 points</p>

In [ ]:
# code here
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [ ]:
# code here
sent.split()

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Using list comprehensions, convert each word in the list to lower case and store it in variable words_lower. 
Print words_lower

In [ ]:
# code here
words_lower = [word.lower() for word in sent.split(' ')]
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [ ]:
# code here
'country' in words_lower

False

Remove the element ‘the’ from the list and print the list.

In [ ]:
# code here
words_lower.remove('the')
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [ ]:
#code here
x4 = words_lower[0:4]

In [ ]:
# print x4
x4

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [ ]:
#code here
''.join(word + ' ' for word in words_lower)

'coronavirus caused lockdowns around world. '

## 2. Sets

Reference:-https://www.youtube.com/watch?v=sBvaPopWOmQ

#### 2.1. Create stud_grades = ['A','A','B','C','C','F']

<p style='text-align: right;'> 7 points</p>

In [ ]:
#code here
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [ ]:
#code here
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [ ]:
#code here
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [ ]:
#code here
len(stud_grades_set)

4

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [ ]:
#code here
print(type(stud_grades),stud_grades)
print(type(stud_grades_set),stud_grades_set)

<class 'list'> ['A', 'A', 'B', 'C', 'C', 'F']
<class 'set'> {'A', 'C', 'B', 'G'}

Add a new element ‘G’ to stud_grades_set

In [ ]:
#code here
stud_grades_set.add('G')

Add element 'F' to stud_grades_set. and print it.

In [ ]:
#code here
stud_grades_set.add('F')
print(stud_grades_set)

{'A', 'C', 'B', 'G', 'F'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [ ]:
#code here
stud_grades_set.remove('F')

Print the elements and the length of stud_grades_set

In [ ]:
#code here
stud_grades_set

{'A', 'B', 'C', 'G'}

#### 2.2. Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

<p style='text-align: right;'> 6 points</p>

In [ ]:
#code here
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [ ]:
#code here
print(colors)
print(fruits)

['red', 'blue', 'orange']
['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [ ]:
#code here
colors_set = set(colors)
fruits_set = set(fruits)
print(colors_set)
print(fruits_set)

{'red', 'orange', 'blue'}
{'apples', 'grapes', 'orange'}

Find the union of both the sets.

In [ ]:
#code here
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [ ]:
#code here

colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [ ]:
#code here

fruits_set.difference(colors_set)

{'apples', 'grapes'}

## 3. TUPLES

Reference:-https://www.youtube.com/watch?v=NI26dqhs2Rk

#### 3.1 . Create temp = [17, ’Virat’, 50.0]

<p style='text-align: right;'> 7 points</p>

In [ ]:
#code here

temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [ ]:
#code here

for i in temp:
  print(i)

17
Virat
50.0

replace first element with 11 in temp

In [ ]:
#code
temp[0] = 11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [ ]:
#code here

temp1 = tuple(temp)

Iterate through temp1 and print all the items in temp1.

In [ ]:
#code here
for i in temp1:
  print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [ ]:
#code here
temp1[0] = 17

TypeError: ignored

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

#### 3.2 . Create city = ("Bangalore", 28.9949521, 72)

<p style='text-align: right;'> 6 points</p>

In [ ]:
#code here
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [ ]:
#code here
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [ ]:
#code here

city2 = ('Chennai', 30.01, 74)

Create cities which consist of city and city2

In [ ]:
#code here

cities = (city,city2)

Print cities

In [ ]:
#code here
cities

(('Bangalore', 28.9949521, 72), ('Chennai', 30.01, 74))

Print type of first element in cities

In [ ]:
#code here
type(cities[0])

tuple

print the type of cities

In [ ]:
#code here
type(cities)

tuple

Hey that implies you made a nested tuples!!

## 4. DICT

Reference:-https://www.youtube.com/watch?v=XCcpzWs-CI4

<p style='text-align: right;'> 11 points</p>

#### 4.1 Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [ ]:
#code here

d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [ ]:
#code here
d[0]

KeyError: ignored

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [ ]:
#code here

d['actor']

'amir'

Print the type of actor

In [ ]:
#code here

type(d['actor'])

str

Store the value of d[‘list’] in new variable l.

In [ ]:
#code here

l = d['list']

Print the type of l.

In [ ]:
#code here

type(l)

list

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [ ]:
#code here

d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [ ]:
#code here

d.update(d1)

print d

In [ ]:
#code here
d

{'actor': 'amir',
 'album': 'Still here',
 'animal': 'cat',
 'earth': 2,
 'genre': 'hip-hop',
 'list': [23, 32, 12],
 'singer': 'Kr$na'}

Print all the keys in d

In [ ]:
#code here
print(d.keys())

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [ ]:
#code here
print(d.values())

dict_values(['amir', 'cat', 2, [23, 32, 12], 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as given in output

In [ ]:
#code here
for key, value in d.items():
  print(key, " ----> ", value)

actor  ---->  amir
animal  ---->  cat
earth  ---->  2
list  ---->  [23, 32, 12]
singer  ---->  Kr$na
album  ---->  Still here
genre  ---->  hip-hop


Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

Count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [16]:
#code here
sent = 'Coronavirus Caused Lockdowns Around The World.'
dict = {}
for i in sent:
  dict[i] = sent.count(i)
print(dict)

{'C': 2, 'o': 6, 'r': 4, 'n': 3, 'a': 2, 'v': 1, 'i': 1, 'u': 3, 's': 3, ' ': 5, 'e': 2, 'd': 4, 'L': 1, 'c': 1, 'k': 1, 'w': 1, 'A': 1, 'T': 1, 'h': 1, 'W': 1, 'l': 1, '.': 1}

# --------------------------------------------------------------------

# Hurray!! Second milestone completed. The next challenge is waiting for you :)

# --------------------------------------------------------------------

-----------------
# FeedBack
We hope you’ve enjoyed this course so far. We’re committed to help you use "AI for All" course to its full potential, so that you have a great learning experience. And that’s why we need your help in form of a feedback here.

Please fill this feedback form  https://zfrmz.in/MtRG5oWXBdesm6rmSM7N